<!-- Container für sidebar und content-->
<main id="content">
    <!--resonsives Design: Bei sehr kleiner und kleiner Bildschirmgröße sind die
        Elemente untereinander positioniert, bei mittlerer bis sehr großer Bildschirmgröße
        md-Aufteilung und bei sehr sehr großer Bildschrimgröße xxl-Aufteilung 
    -->
    <div class="container-xxl">
      <div class="row justify-content-left">
        <div class="col-md-3 col-xxl-3">
          <ul id="sidebar">
            <li>
              <a class="Link" href="index.html">Übersicht</a>
            </li>
            <li>
              <a class="Link" href="table.html">C02-Emmissionen</a>
            </li>
            <li>
              <a class="Link" href="donate.html">Fürs Klima spenden</a>
            </li>
            <li>
              <a class="Link" href="about.html">Über uns</a>
            </li>
          </ul>
        </div>
        <div class="col-md-8 col-xxl-9">
          <section id="text">
            <h1>Willkommen auf CO²-Footprint</h1>
            <p>
                Hier können sie Informationen zu Emmissionswerten von Ländern und Unternehmen einholen.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Deserunt, esse eaque, non ipsa accusamus cupiditate itaque quae odit atque reiciendis rerum! 
                Aut perferendis placeat libero quasi quis fuga nam delectus?
            </p>
            <h2>Das ist eine Überschrift</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Reiciendis at ipsa libero dolore, dicta unde illo minima beatae quis quibusdam incidunt nihil tempore? 
                Placeat repudiandae blanditiis praesentium, corporis quod facilis.
            </p> 
          </section>
        </div>
      </div>
    </div>
  </main>
