<!-- Container für sidebar und content-->
<main id="content">
    <!--resonsives Design: Bei sehr kleiner und kleiner Bildschirmgröße sind die
        Elemente untereinander positioniert, bei mittlerer bis sehr großer Bildschirmgröße
        md-Aufteilung und bei sehr sehr großer Bildschrimgröße xxl-Aufteilung 
    -->
    <div class="container-xxl">
      <div class="row justify-content-left">
        <div class="col-md-3 col-xxl-3">
          <ul id="sidebar">
            <li>
              <a class="Link" href="home">{{'Home' | translate}}</a>
            </li>
            <li>
              <a class="Link" href="table">{{'Table' | translate}}</a>
            </li>
            <li>
              <a class="Link" href="donate">{{'Donate' | translate}}</a>
            </li>
            <li>
              <a class="Link" href="about">{{'About' | translate}}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-8 col-xxl-9">
          <section id="text">
              <router-outlet></router-outlet>
          </section>
        </div>
      </div>
    </div>
  </main>
