<div class="container-xxl">
    <div class="row justify-content-left">
        <div class="col" class="text-secondary">
            <h1>Unser Team ist für dich da</h1>
            <h3>
                Gerne kannst du Vorschläge für neue Spendenaktionen einbringen. 
                Wir unterstützen auch dein Umweltprojekt.
            </h3>
        </div>
    </div>
    <div class="row justify-content-left">
        <div class="col-lg-5">
            <!-- Card Teamleitung -->
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Ida Müller</mat-card-title>
                    <mat-card-subtitle>Energie- und Umwelttechnik</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/Images/TeamMitglied1.jpg">
                <mat-card-content>
                <br>
                <h3>Teamleiterin</h3>
                    <p>
                        Ida freut sich über konstruktive Rückmeldungen und Fragen zum Projekt. 
                    </p>
                    <h3>Kontakt</h3>
                    <p>mueller&#64;footprint.de</p>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Leeres Layout-Feld -->
        <div class="col-lg-1"><p></p></div>
        <div class="col-lg-5">
            <!-- Card Social Media Managerin -->
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Nadine Roberts</mat-card-title>
                    <mat-card-subtitle>Social Media Managerin</mat-card-subtitle>
                </mat-card-header>
                    <img mat-card-image src="assets/Images/TeamMitglied4.jpg">
                <mat-card-content>
                    <br>
                    <h3>Social Media Auftritt</h3>
                    <p>
                        Nadine schreibt über unsere Spendenprojekte auf Facebook und Instagram. 
                        Zudem berichtet sie über die Unternehmen, die ihre Emissionsziele nicht erreichen. 
                        Wir bauen dadurch Druck bei den Unternehmen auf, endlich zu handeln. 
                        Folge uns auf Instagram und Facebook.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!-- Leere Layout-Spalte -->
    <div class="row justify-content-left" >
        <div class="column"> <p></p></div>
    </div>
    <div class="row justify-content-left">
        <div class="col-lg-5">
            <!-- Card Softwareentwickler -->
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Sebastian Bell</mat-card-title>
                    <mat-card-subtitle>Softwareentwickler</mat-card-subtitle>
                </mat-card-header>
                    <img mat-card-image src="assets/Images/TeamMitglied2.jpg">
                <mat-card-content>
                <br>
                <h3>Betreuung der Webseite</h3>
                    <p>
                        Sebastian hat an der IU studiert und engagiert sich nebenberuflich 
                        in diesem bunten Team. Zu seinen Aufgaben gehört die Pflege der 
                        Inhalte auf dieser Webseite.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Leeres Layout-Feld -->
        <div class="col-lg-1"><p></p></div>
        <div class=" col-lg-5">
            <!-- Card Designer -->
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Emil Ingasson</mat-card-title>
                    <mat-card-subtitle>Designer</mat-card-subtitle>
                </mat-card-header>
                    <img mat-card-image src="assets/Images/TeamMitglied3.jpg">
                <mat-card-content>
                <br>
                <h3>Design der Webseite</h3>
                    <p>
                        Emil arbeitet eng mit unserem Entwickler zusammen und ist für 
                        das Design der Webseite verantwortlich. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>