<div class="container-xxl">
    <div class="row justify-content-left">
        <div class="col" class="text-secondary">
            <h1>{{ 'aboutHead' | translate }}</h1>
            <h3>
                {{ 'aboutIntro' | translate }}
            </h3>
        </div>
    </div>
    <div class="row justify-content-left">
        <div class="col-lg-5">
            <!-- Card Teamleitung -->
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{ 'aboutName1' | translate }}</mat-card-title>
                    <mat-card-subtitle>{{ 'aboutJob1' | translate }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/Images/TeamMitglied1.jpg">
                <mat-card-content>
                <br>
                <h3>{{ 'aboutTeamPos1' | translate }}</h3>
                    <p>
                       {{ 'aboutTeamDescript1' | translate }}  
                    </p>
                    <h3>{{ 'aboutTeamContact' | translate }}</h3>
                    <p>{{ 'aboutTeamMail' | translate }}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Leeres Layout-Feld -->
        <div class="col-lg-1"><p></p></div>
        <div class="col-lg-5">
            <!-- Card Social Media Managerin -->
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{ 'aboutName2' | translate }}</mat-card-title>
                    <mat-card-subtitle>{{ 'aboutJob2' | translate }}</mat-card-subtitle>
                </mat-card-header>
                    <img mat-card-image src="assets/Images/TeamMitglied4.jpg">
                <mat-card-content>
                    <br>
                    <h3>{{ 'aboutTeamPos2' | translate }}</h3>
                    <p>
                        {{ 'aboutTeamDescript2' | translate }}  
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!-- Leere Layout-Spalte -->
    <div class="row justify-content-left" >
        <div class="column"> <p></p></div>
    </div>
    <div class="row justify-content-left">
        <div class="col-lg-5">
            <!-- Card Softwareentwickler -->
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{ 'aboutName3' | translate }}</mat-card-title>
                    <mat-card-subtitle>{{ 'aboutJob3' | translate }}</mat-card-subtitle>
                </mat-card-header>
                    <img mat-card-image src="assets/Images/TeamMitglied2.jpg">
                <mat-card-content>
                <br>
                <h3>{{ 'aboutTeamPos3' | translate }}</h3>
                    <p>
                        {{ 'aboutTeamDescript3' | translate }}  
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Leeres Layout-Feld -->
        <div class="col-lg-1"><p></p></div>
        <div class=" col-lg-5">
            <!-- Card Designer -->
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{ 'aboutName4' | translate }}</mat-card-title>
                    <mat-card-subtitle>{{ 'aboutJob4' | translate }}</mat-card-subtitle>
                </mat-card-header>
                    <img mat-card-image src="assets/Images/TeamMitglied3.jpg">
                <mat-card-content>
                <br>
                <h3>{{ 'aboutTeamPos4' | translate }}</h3>
                    <p>
                        {{ 'aboutTeamDescript4' | translate }} 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>