<!--Inhalt von header-nav wird dargestellt-->
<app-header-nav></app-header-nav>

<!--Inhalt von content wird dargestellt-->
<app-content></app-content>

 <!--Footer-->
 <footer>
  <!--Rechtliche Hinweise in der Mitte des Footers positioniert-->
  <nav>
    <div>
        <ul class="text-center">
            <li>
              <a class="Link" href="privacy">Datenschutz</a>
            </li>
            <li>
              <a class="Link" href="imprint">Impressum</a>
            </li>
        </ul>
    </div>
  </nav>
</footer>
<router-outlet />
