<div class="text-secondary">
    <h1>{{ 'imprintHead' | translate }}</h1>
        <p>
            {{ 'imprintProvider' | translate }}
            <br>
            {{ 'imprintPrName' | translate }}
            <br>
            {{ 'imprintPrStreet' | translate }}
            <br>
            {{ 'imprintPrCity' | translate }}
        </p>
        <p>
            {{ 'aboutTeamContact' | translate }}
            <br>
            {{ 'imprintPrPhone' | translate }}
            <br>
            {{'imprintPrMail' | translate }}
            <br>
            {{'imprintPrWebsite' | translate }}
        </p>
        <h3>{{ 'imprintWebProvider' | translate }}</h3>
            <p>
                {{ 'imprintWebResp' | translate }}
                <br>
                {{ 'aboutName1' | translate }}
                <br>
                {{ 'imprintWebRespStreet' | translate }}
                <br>{{ 'imprintPrCity' | translate }}
            </p>
            <p>
                {{ 'aboutTeamContact' | translate }}
                <br>
                {{ 'aboutTeamMail' | translate }}
            </p>
</div>
 