<div class="text-secondary">
    <h1>{{ 'privacyHead1' | translate }}</h1>
        <h2>{{ 'privacyRespHead' | translate }}</h2>    
            <p class="text">
                {{ 'privacyRespText' | translate }}
                <br>
                {{ 'privacyRespMail' | translate }}
            </p>
        <h2>{{ 'privacyDataProcHead' | translate }}</h2>
            <h3>{{ 'privacyDataProcSubHeadA' | translate }}</h3>
                <p class="text">
                    {{ 'privacyDataProcIntro' | translate }}
                    <br>
                    {{ 'privacyDataProcText1' | translate }}
                    <br>
                    {{ 'privacyDataProcText2' | translate }}
                    <br>
                    {{ 'privacyDataProcText3' | translate }}
                    <br>
                    {{ 'privacyDataProcText4' | translate }}
                    <br>
                    {{ 'privacyDataProcText5' | translate }}
                    <br>
                    {{ 'privacyDataProcText6' | translate }}
                    <br>
                    {{ 'privacyDataProcText7' | translate }}
                    <br>
                    {{ 'privacyDataProcText8' | translate }}
                    <br>
                    {{ 'privacyDataProcText9' | translate }}
                    <br>
                    {{ 'privacyDataProcText10' | translate }}
                    <br>
                    {{ 'privacyDataProcText11' | translate }}
                </p>
            <h3>{{ 'privacyDataProcSubHeadB' | translate }}</h3>
                <p class="text">{{ 'privacyDataProcBText' | translate }}</p>
            <h3>{{ 'privacyDataProcSubHeadC' | translate }}</h3>
                <p class="text">
                    {{ 'privacyDataProcCText' | translate }}
                </p>
    <h1>{{ 'privacyHead2' | translate }}</h1>
                <p class="text">
                    {{ 'privacyRights' | translate }}
                </p>
</div>