<!-- Einfügen vom Image -->
<div id="image">
    <img src="assets/Images/Spende.jpg" alt="Spende fürs Klima">
</div>
<!-- text mit Bootstrap-Klasse für das Schriftdesign-->
<div class="text-secondary">
    <h1>{{ 'donateHead' | translate }}</h1>
    <p>
        {{ 'donateSelProject' | translate }}
    </p>
    <h2>{{ 'donateProjectOne' | translate }}</h2>
    <p>
        {{ 'donatePrOneText' | translate }}
    </p>
    <h2>{{ 'donateProjectTwo' | translate }}</h2>
    <p>
        {{ 'donatePrTwoText' | translate }}
    </p>
    <h2>{{ 'donateProjectThree' | translate }}</h2>
    <p>
        {{ 'donatePrThreeText' | translate }}
    </p>
</div>
<mat-divider></mat-divider>
<div class="text-secondary">
    <br>
    <h1>{{ 'donateAccData' | translate }}</h1>
    <p>{{ 'donateAccNote' | translate }}</p>
    <p>
         {{ 'donateAccUser' | translate }}<br>
        IBAN: DE24 2000 0005 54851 XXX XX<br>
        {{ 'donateUsage' | translate }}
    </p>
    <h2>{{ 'donateThanks' | translate }}</h2>
</div>
