<!-- Einfügen vom Image -->
<div id="image">
    <img src="assets/Images/Spende.jpg" alt="Spende fürs Klima">
</div>
<!-- text mit Bootstrap-Klasse für das Schriftdesign-->
<div class="text-secondary">
    <h1>Helfen Sie uns mit Spenden</h1>
    <p>
        Werden auch Sie Unterstützer eines Klimaschutz-Projektes. 
        Wählen Sie aus den folgenden Initiativen ihr Herzensprojekt aus:
    </p>
    <h2>1. Förderung der regionalen Wälder</h2>
    <p>
        Durch unsere Wälder wird der Kohlenstoff aus dem CO² gespeichert. 
        Wir pflanzen mit dem Spendengeld Bäume und leisten einen Beitrag zum Erhalt 
        des Lebensraumes von vielen Tieren und einem natürlichen CO²-Speicher.
    </p>
    <h2>2. Investition in erneuerbare Energien</h2>
    <p>
        Investitionen in die Energien der Zukunft sorgen für eine schnellere 
        Transformation hin zu einer nachhaltigeren Wirtschaft. 
        Wir unterstützen in diesem Projekt den Bau von Windparks in Norddeutschland.
    </p>
    <h2>3. Nachhaltiges Kerosin</h2>
    <p>
        Flugzeuge verbinden die Welt miteinander, stoßen allerdings auch sehr viel klimaschädliche Emissionen aus.
        Mit der Förderung von klimaverträglicheren Kerosin kann der Ausstoß zukünftig minimiert werden. 
        Unser drittes Projekt unterstützt die Grundlagenforschung in diesem Bereich.
    </p>
</div>
<mat-divider></mat-divider>
<div class="text-secondary">
    <br>
    <h1>Kontodaten</h1>
    <p>Überweisen sie die Spende bitte auf folgendes Konto:</p>
    <p>
        Kontoführer: CO2-Fußabdruck <br>
        IBAN: DE24 2000 0005 54851 XXX XX<br>
        Verwendungszweck: [Name des Projektes]
    </p>
    <h2>Danke für eure Hilfe.</h2>
</div>
