<div class="text-secondary" id="text">
    <h1>{{ 'homeWelcome' | translate }}</h1>
    <h2>
        {{ 'homeIntro' | translate }}
        <br>
        {{ 'homeIntroAnswer' | translate }}
    </h2>
    <p>
        {{ 'homeFirstText' | translate }}
    </p>
    <h2>{{ 'homeWork' | translate }}</h2>
    <p>
        {{ 'homeWorkText' | translate }}
    </p> 
    <h2>{{ 'homeGoals' | translate }}</h2>
    <p>
        {{ 'homeGoalsFirstText' | translate }}
        <br>
        {{ 'homeGoalsSecText' | translate }}
    </p>
</div>