<div class="text-secondary" id="text">
    <h1>Willkommen auf CO²-Fußabdruck</h1>
    <h2>
        Du willst Informationen zu Emmissionswerten von Unternehmen einholen 
        und selbst aktiv Klimaprojekte unterstützen?<br> Dann bist du hier genau richtig!
    </h2>
    <p>
        Unser ehrenamtliches Team hilft der EmissionNull-Organisation beim Sensibilisieren und Informieren 
        über CO²-Emissionen von Ländern und Firmen. Wir halten den Finger in die Wunde und zeigen, wo die Emissionen steigen. 
        Auch das Sammeln von Spenden für Klimaprojekte gehört zu unserem Portfolio.
    </p>
    <h2>Wie wir arbeiten</h2>
    <p>
        Wir stellen die jährliche CO²-Bilanz von Unternehmen bereit und ermitteln die Emission-Tendenz aus den letzten und aktuellen Jahr. 
        Zudem kann der Gesamtverbrauch eines Unternehmens seit der Gründung eingesehen werden. Die Filterfunktion ermäglicht das Suchen nach 
        spezifischen Ländern, Unternehmen oder auch Emissionswerten. Auch eines Sortierung ist Anhand von Ländern, Unternehmen und Emissionswerten 
        möglich. 
    </p> 
    <h2>Welche Ziele verfolgen wir?</h2>
    <p>
        Das große Ziel ist die Senkung der CO²-Emissionen weltweit. Wir wollen einen kleinen Beitrag leisten, indem wir die größten 
        Wirtschaftsländer der Welt, bzw. die größten 5 Unternehmen dieser Länder, in die Pflicht nehmen. CO²-Fußabdruck legt offen, 
        welche dieser Unternehmen seine Emissionen reduziert und welche nicht. Durch unsere Social Media Präsenz erweitern wir unsere 
        Reichweite und stellen diese Unternehmen an den Pranger. Nur so erfolgt ein Umdenken!
        <br>
        Auf CO²-Fußabdruck können Sie auch unsere Partner-Projekte unterstützen. Spenden Sie für eines unserer Projekte. 
    </p>
</div>